<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Stocks
        link(rel="stylesheet" type="text/css" href="/public/styles/main.css")
    body
        h2 Quotes
        table
            thead
                tr
                    each col in tableColumns
                        th= col.label
            tbody
                each val, i in quotes
                    tr
                        - var quote = quotes[i]
                        each col in tableColumns
                            td= quote[col.key]