<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        h2 Quotes
        table
            thead
                tr
                    th Symbol
                    th Name
                    th Price
            tbody
                each val, i in quotes
                    tr
                        - var quote = quotes[i]
                        td= quote.symbol
                        td= quote.name
                        td= quote.lastPrice