html {
    font-size: 14px;
}

h2 {
    font-family: Helvetica, sans-serif;
    margin: 0;
}

table {
    font-family: monospace;
    border-top: 2px solid black;
}

thead {
    border-bottom: 1px solid lightgray;
}

th {
    color: gray;
}

th,
td {
    padding: 3px 10px;
    text-align: right;
}

td.symbol {
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: -0.03em;
}

td.lastPrice {
    font-size: 1.2rem;
    letter-spacing: -0.03em;
}